<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.belong.dao.MoviesMapper" >
  <resultMap id="BaseResultMap" type="com.belong.model.Movies" >
    <constructor >
      <idArg column="Vid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Vname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Vdate" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="views" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.belong.model.MoviesWithBLOBs" >
    <constructor >
      <idArg column="Vid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Vname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Vdate" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="views" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="Vinfo" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="Vpic" jdbcType="LONGVARBINARY" javaType="_byte[]" />
      <arg column="Vsrc" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Vid, Vname, Vdate, id, views
  </sql>
  <sql id="Blob_Column_List" >
    Vinfo, Vpic, Vsrc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.belong.model.MoviesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from movies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.belong.model.MoviesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from movies
    where Vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from movies
    where Vid = #{vid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.belong.model.MoviesExample" >
    delete from movies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.belong.model.MoviesWithBLOBs" >
    insert into movies (Vid, Vname, Vdate, 
      id, views, Vinfo, 
      Vpic, Vsrc)
    values (#{vid,jdbcType=INTEGER}, #{vname,jdbcType=VARCHAR}, #{vdate,jdbcType=DATE}, 
      #{id,jdbcType=INTEGER}, #{views,jdbcType=DECIMAL}, #{vinfo,jdbcType=LONGVARCHAR}, 
      #{vpic,jdbcType=LONGVARBINARY}, #{vsrc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.belong.model.MoviesWithBLOBs" >
    insert into movies
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        Vid,
      </if>
      <if test="vname != null" >
        Vname,
      </if>
      <if test="vdate != null" >
        Vdate,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="views != null" >
        views,
      </if>
      <if test="vinfo != null" >
        Vinfo,
      </if>
      <if test="vpic != null" >
        Vpic,
      </if>
      <if test="vsrc != null" >
        Vsrc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="vname != null" >
        #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vdate != null" >
        #{vdate,jdbcType=DATE},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        #{views,jdbcType=DECIMAL},
      </if>
      <if test="vinfo != null" >
        #{vinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="vpic != null" >
        #{vpic,jdbcType=LONGVARBINARY},
      </if>
      <if test="vsrc != null" >
        #{vsrc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.belong.model.MoviesExample" resultType="java.lang.Integer" >
    select count(*) from movies
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update movies
    <set >
      <if test="record.vid != null" >
        Vid = #{record.vid,jdbcType=INTEGER},
      </if>
      <if test="record.vname != null" >
        Vname = #{record.vname,jdbcType=VARCHAR},
      </if>
      <if test="record.vdate != null" >
        Vdate = #{record.vdate,jdbcType=DATE},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.views != null" >
        views = #{record.views,jdbcType=DECIMAL},
      </if>
      <if test="record.vinfo != null" >
        Vinfo = #{record.vinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.vpic != null" >
        Vpic = #{record.vpic,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.vsrc != null" >
        Vsrc = #{record.vsrc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update movies
    set Vid = #{record.vid,jdbcType=INTEGER},
      Vname = #{record.vname,jdbcType=VARCHAR},
      Vdate = #{record.vdate,jdbcType=DATE},
      id = #{record.id,jdbcType=INTEGER},
      views = #{record.views,jdbcType=DECIMAL},
      Vinfo = #{record.vinfo,jdbcType=LONGVARCHAR},
      Vpic = #{record.vpic,jdbcType=LONGVARBINARY},
      Vsrc = #{record.vsrc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update movies
    set Vid = #{record.vid,jdbcType=INTEGER},
      Vname = #{record.vname,jdbcType=VARCHAR},
      Vdate = #{record.vdate,jdbcType=DATE},
      id = #{record.id,jdbcType=INTEGER},
      views = #{record.views,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.belong.model.MoviesWithBLOBs" >
    update movies
    <set >
      <if test="vname != null" >
        Vname = #{vname,jdbcType=VARCHAR},
      </if>
      <if test="vdate != null" >
        Vdate = #{vdate,jdbcType=DATE},
      </if>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="views != null" >
        views = #{views,jdbcType=DECIMAL},
      </if>
      <if test="vinfo != null" >
        Vinfo = #{vinfo,jdbcType=LONGVARCHAR},
      </if>
      <if test="vpic != null" >
        Vpic = #{vpic,jdbcType=LONGVARBINARY},
      </if>
      <if test="vsrc != null" >
        Vsrc = #{vsrc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.belong.model.MoviesWithBLOBs" >
    update movies
    set Vname = #{vname,jdbcType=VARCHAR},
      Vdate = #{vdate,jdbcType=DATE},
      id = #{id,jdbcType=INTEGER},
      views = #{views,jdbcType=DECIMAL},
      Vinfo = #{vinfo,jdbcType=LONGVARCHAR},
      Vpic = #{vpic,jdbcType=LONGVARBINARY},
      Vsrc = #{vsrc,jdbcType=LONGVARCHAR}
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.belong.model.Movies" >
    update movies
    set Vname = #{vname,jdbcType=VARCHAR},
      Vdate = #{vdate,jdbcType=DATE},
      id = #{id,jdbcType=INTEGER},
      views = #{views,jdbcType=DECIMAL}
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>