<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.belong.dao.ReviewMapper" >
  <resultMap id="BaseResultMap" type="com.belong.model.Review" >
    <constructor >
      <idArg column="Vid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Vamount" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.belong.model.ReviewWithBLOBs" >
    <constructor >
      <idArg column="Vid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Vamount" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Vdirector" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="Vactor" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    Vid, Vamount
  </sql>
  <sql id="Blob_Column_List" >
    Vdirector, Vactor
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from review
    where Vid = #{vid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review
    where Vid = #{vid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.belong.model.ReviewWithBLOBs" >
    insert into review (Vid, Vamount, Vdirector, 
      Vactor)
    values (#{vid,jdbcType=INTEGER}, #{vamount,jdbcType=VARCHAR}, #{vdirector,jdbcType=LONGVARCHAR}, 
      #{vactor,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.belong.model.ReviewWithBLOBs" >
    insert into review
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        Vid,
      </if>
      <if test="vamount != null" >
        Vamount,
      </if>
      <if test="vdirector != null" >
        Vdirector,
      </if>
      <if test="vactor != null" >
        Vactor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="vamount != null" >
        #{vamount,jdbcType=VARCHAR},
      </if>
      <if test="vdirector != null" >
        #{vdirector,jdbcType=LONGVARCHAR},
      </if>
      <if test="vactor != null" >
        #{vactor,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.belong.model.ReviewWithBLOBs" >
    update review
    <set >
      <if test="vamount != null" >
        Vamount = #{vamount,jdbcType=VARCHAR},
      </if>
      <if test="vdirector != null" >
        Vdirector = #{vdirector,jdbcType=LONGVARCHAR},
      </if>
      <if test="vactor != null" >
        Vactor = #{vactor,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.belong.model.ReviewWithBLOBs" >
    update review
    set Vamount = #{vamount,jdbcType=VARCHAR},
      Vdirector = #{vdirector,jdbcType=LONGVARCHAR},
      Vactor = #{vactor,jdbcType=LONGVARCHAR}
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.belong.model.Review" >
    update review
    set Vamount = #{vamount,jdbcType=VARCHAR}
    where Vid = #{vid,jdbcType=INTEGER}
  </update>
</mapper>